*{
	padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25rem;	
}
#kebap{
	position: absolute;
	z-index: 1;
}
#points{
	position: absolute;
	top: 0px;
	left: 75px;
}
.directional-buttons{
	z-index: 2;
  width: 16rem;
  height: 16rem;
  display: grid;
  grid-template-columns: 45fr 60fr 45fr;
  grid-template-rows: 45fr 60fr 45fr;
  grid-template-areas: "..... up  ....."
                       "left  .....  right"
                       "..... down .....";    
}
.direction-button {
	display: block;
  color: rgba(50, 50, 50, 0.75);
  border: none;
  background-color: rgba(0,0,0,0.75);
  color: rgb(255,255,0);
  font-size: xxx-large;
  position: relative;
}
.up {
  grid-area: up;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.down {
  grid-area: down;
}
.change-food{
	position: absolute;
	right: 0;
	top: 0;	
	display: grid;
}
.food-button img{
	height: 100px;
	z-index: -1;
}

#app{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}